@import url("./preset.less");

.ask-container{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
      background-image: url("@{base_url}invitation-bg.png");
    background-position: center;
    background-size:contain;

    h1{
        font-family: @Aboreto;
        font-size: 2.5rem;
        font-weight:bolder;
        color: @dark-elements;
    }

    
}