@import url("./preset.less");
.base-page-container {
     position: relative;
     background: @bg-main;
      background-image: url("@{base_url}bg-simple.png");
    background-position: center;
    background-size:cover;
height: 100%;width: 100%;
overflow-y: scroll;
overflow-x:hidden;
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
gap: 2rem;
// padding: 2.5rem 0;

h1{
      font-family: @arabic;
    font-size: 4vh;
  text-align: center;
  line-height: 2;

}
}
