@import url("./preset.less");

._2v-d4,._106d2, ._SKh-V{
background-color: @main-elements;
}
._2aOn7 {
    font-family: @Montserrat;
    // font-size: 1.3rem;
    font-weight: 700;
    color: @main-elements;
}

._qWTcH {
    justify-content: center;align-items: center;
    flex-wrap: wrap;
       gap:2vh;
}
.counter-container{
    width: 100dvw;

    display: flex;
    justify-content: center;align-items: center;
   
}


@media (max-width: 900px) {
.fcc__separator ,._2hRXr{
    display: none;
}

}