@import url("./preset.less");

.footer-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  text-align: center;
  line-height: 1.75;

  h1 {
    font-family: @Housttely;
    font-weight: 900;
    font-size: 2.5rem;
    color: @dark-elements;
  }
  h2 {
    color: @dark-elements;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: @Aboreto;
  }
  h3 {
    font-family: @Aboreto;
    font-size: 1.5rem;
    font-weight: 600;
    color: @dark-elements;
  }
  .paragraphe-speciale {
    font-family: @Montserrat;
    font-weight: 500;
    font-size: 1.2rem;
  }
  .copyright {
    font-family: @Poppins;
    font-size: 1rem;
    font-weight: 300;
    color: @main-elements;
  }
}
