@import url("./preset.less");

.Moments-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
h1 {
  font-family: @Aboreto;
  font-size: 2.5rem;
  font-weight: 900;
  color: @dark-elements;
}
p {
  font-family: @arabica;
  font-size: 2rem;
  font-weight: 400;
  text-shadow: @text-shadow;
}

// .carousel-root {
//   width: 70%;
//   border-radius: 11px;

//   .control-dots {
//     border-radius: 0 0 11px 11px !important;
//     .dot {
//       background: @border-main !important;
//     }
//   }
//   .control-arrow {
//     background-color: @dark-elements !important;
//     border-radius: 11px 0 0 11px;
//     ::before {
//       color: @border-main !important;
//     }
//   }
//   .control-next {
//     border-radius: 0 11px 11px 0 !important;
//   }
// }

// .slider-wrapper > * {
//   border-radius: 11px !important;
// }
// .slider-wrapper {
//   border-radius: 11px;
// }
// .carousel {
//   border-radius: 11px !important;
// //   box-shadow: @card-vertical-shadow;
//   .thumbs {
//     background-color: transparent!important;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
//   .thumb {
//     height: 10vh;
//     img{
//         height: 100%;
//         object-fit: cover;
//     }
//   }
// }
// .carousel-status {
//   color: @main-elements !important;
//   font-size: 1rem !important;
//   z-index: 5 !important;
//   right: 0.5rem !important;
// }
// .carousel .slide img {
//   width: 100%;
// height: auto;
//   object-fit: cover;
//   border-radius: 11px !important;
// }

// .slide {
//   border: 3px solid @main-elements !important;
//   border-radius: 11px !important;

//   div {
//     border-radius: 11px !important;
//     max-height: 50vh;
//   }
// }
