@import url("./preset.less");

.program-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  line-height: 1.75;

  h1 {
    font-family: @Aboreto;
    font-weight: 900;
    font-size: 3rem;
    color: @dark-elements;
  }
  p {
    font-family: @arabica;
    font-size: 2rem;
    font-weight: 400;
    text-shadow: @text-shadow;
  }
  .icon-container {
    font-size: 7rem;
    color: @dark-elements;
  }
  .carte-ceremonie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
   text-shadow: @text-shadow;
    text-align: center;
    line-height: 1.75;
   
    // box-shadow: @card-vertical-shadow;
    padding: 3rem;
    padding-bottom: 4rem;
    border-radius: 7px;

    h1 {
         font-family: @Poppins;
      font-size: 3rem;
      color: @main-elements;
      font-weight: 400;
    }
    h2{ font-family: @Poppins;
       font-size: 2rem;
      font-weight: 400; 
      color: @dark-elements;
    }
    h3{
       font-family: @Poppins;
       font-size: 2.5rem;
      color: @main-elements;
      font-weight: 400; 
      color: @main-elements; 
    }
    p{
        font-family: @Poppins;
       font-size: 2rem;
      color: @main-elements;
      font-weight: 400; 
     
    }
  }
}
